{% extends 'Layout.html' %}

{% load static %}

{% block 'title'%}Home{% endblock 'title' %}
{% block 'scripts' %}

<link rel="stylesheet" href="{% static 'css/main/home.css'%}">

{% endblock 'scripts' %}

{% block 'content' %}

<div class="home">
  <div class="fundo"></div>
  <img src="{% static 'img/logo.png' %}" alt="logo java.py" class="imagem">
  <span class="space"></span>
  <div class="texto">
    <h1>O jeito mais rápido de conectar o cidadão com a prefeitura.</h1>
    <p>
      Um canal de comunicação direto com a prefeitura, possibilitando mandar uma sugestão, reclamação ou elogio de forma
      rápida e fácil.
    </p>
    <br>
    <br>
    <br>
    {% if request.user.is_authenticated %}
    <a href="{% url 'comentarios/listagem' %}" class="btn btn-primary botaoHome">Comentários</a>
    {% else %}
    <a href="{% url 'cadastro' %}" class="btn btn-primary botaoHome">Cadastrar-se</a>
    {% endif %}
  </div>
</div>

{% endblock 'content' %}